.outerbox {
    height: 40rem;
    width: 100%;
    background-color: #2D283E;

}

.heading-styling {
    font-size: 2.5rem;
    padding: 4rem;
    font-weight: 700
}

.container-div {
    /* display:flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    width: 80%;

    /* background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/public/images/speakfy-logo.png);
    background-size: 1000px;
    background-repeat:no-repeat;

background-position:500px 200px;
background-attachment: fixed; */

}

.left-img-div {
    border-radius: 1rem;



    /* justify-content: center;
        align-items: center; */

    border: 3px solid #802BB1;
    color: #aba9b3;
    background-color: #564F6F;
}

.rightbox-div {

    /* width:50%;
    background-color:skyblue;
    height:100%; */
    display: flex;
    flex-direction: column;
    border-radius: 7rem;
    margin-left: 2rem;
    /* font-weight: 600; */
    color: beige;
}

.text-styling {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 0;

}

@media (max-width: 920px) {
    .outerbox {
        height: 45rem;
        width: 100%;
        background-color: #2D283E;

    }
}

@media (max-width: 530px) {
    .outerbox {
        height: 55rem;
        width: 100%;
        background-color: #2D283E;

    }
}