.avatar-pic{
    width: 15rem;
    height: 15rem;

}

.banner {
    height: 100vh;
}

.banner-div{
    width: 80%;
}
.banner-text{
    font-family: 'Inter';
    color: #d1d7e0;
}

.title-color {
    color: #bd4618;
}

.banner-badge {
    background-color: #2D283E;
    border: 2px solid #f36933 !important;
}