.avatar-pic {
    width: 18rem;
    height: 18rem;

}

.banner {
    min-height: 100vh;
}

.banner-div {
    width: 85%;
}

.banner-text {
    font-family: 'Inter';
    color: #d1d7e0;
}

.title-color {
    color: #bd4618;
}

.banner-badge {
    background-color: #2D283E;
    border: 2px solid #f36933 !important;
}

@media (max-width: 650px) {
    .avatar-pic {
        width: 15rem;
        height: 15rem;

    }

}