.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.contact-form {
    padding: 20px;
    background-color: rgb(250, 172, 109);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    box-sizing: border-box;
}
#contact-text {
    font-size: 120px;
    font-weight: 700;
    color:  #f36f17;
    font-family: 'happytalk';
    opacity: 0.7;
}
.contact-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-form li {
    display: flex;
    align-items: center;
}
.contact-form li i {
    margin-right: 10px;
    color: #666;
    font-size: 20px;
}
.contact-form li a .contact-form li p {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.contact-image {
    flex: 1;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

.contact-text {
    width: 50%;
}
.icons{
    height:35px;
    width:40px;
     padding:0.5rem; 
}

.phone{
    color:black;

}
.location{
    color:black;
}
.gmail{
    color:black;
}
.linkedIn{
    color:black;
}
.github{
    color:black;
}
    


    @media (max-width: 768px) {
        .contact-image {
            height: 300px;
            max-width: 100%;
            margin: 0;
        }
    }


    @media (max-width: 500px){

    .contact-form span {
        font-size: 80px;
        font-weight: 700;
        color:  #f36f17;
        font-family: 'happytalk';
        margin-bottom: 20px;
        align-items: center;
        opacity: 0.7;
        margin: 0;
    }
    }




