
.footer-div{
    height:50px;
}
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
  }
  
  .social-icons a:hover {
    background-color: #3b5998; /* Facebook blue */
  }
  
  .social-icons a:hover i.fa-facebook {
    color: #3b5998; /* Facebook blue */
  }
  
  .social-icons a:hover i.fa-linkedin {
    color: #0077b5; /* LinkedIn blue */
  }
