
.footer-div{
    height:50px;
}
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .fb-icon{
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
  }

  .ln-icon{
    width: 25px;
    height: 25px;
    line-height: 40px;
    text-align: center;
  }

  
  .fb-icon:hover{
    background-color: #585074 /* Facebook blue */
  }
  
  .ln-icon:hover {
    background-color: #585074 /* Facebook blue */
  }
  
